[MASTER]
ignore=resources
jobs=0
limit-inference-results=100
persistent=yes
suggestion-mode=yes

[MESSAGES CONTROL]
disable=no-name-in-module,
        too-few-public-methods,
        too-many-instance-attributes,
        attribute-defined-outside-init,
        no-else-return,
        fixme,
        protected-class,
        protected-access,
        assigning-non-slot,
        unused-import,
        unsubscriptable-object,
        invalid-name,

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,
      XXX,
      TODO

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local,
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1


[VARIABLES]
allow-global-unused-variables=yes
callbacks=cb_,
          _cb

dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[FORMAT]
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
no-space-check=trailing-comma,
               dict-separator
single-line-class-stmt=no
single-line-if-stmt=no

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names=i,
           ui,
           j,
           k,
           ex,
           Run,
           _,
           __,
           f,
           s,
           e,
           ex,
           db,

include-naming-hint=yes
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[LOGGING]
logging-modules=logging


[DESIGN]
max-args=6
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

[CLASSES]
defining-attr-methods=__init__,
                      __new__,
                      setUp

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make

valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls


[IMPORTS]
allow-wildcard-with-all=yes
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
known-third-party=enchant


[EXCEPTIONS]
overgeneral-exceptions=Exception
